@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/*  '*'zeradndo todas as configurações da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*pré declaração de variáveis*/
:root{
    --fonte: 'Caveat', arial;
    --cor-background: rgb(158, 50, 50);
    --cor-txt: rgb(249, 238, 233); 
    --cor-hover: rgb(45, 59, 45);}

body{background-image: url();
    background-size: cover; /*img se adequando a tela*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;}
    
/*Botões ------------------------------------------------------------------*/

#divBtn{margin: 8%;}
#btn1, #btn2, #btn3 {padding: 15px;
    margin: 5px;
    border-radius: 10px;
    background-color: wheat;
    color: rgb(99, 11, 11);}


 /*Corpo do app-------------------------------------------------------------*/   
.link{display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-background); /*chamando as variáveis*/
    width: 400px;
    border-radius: 20px;}

.link img{width: 12px; /*Img dos icones*/
    height: 12px;
    border-radius:50%;
    margin: 0px 5px;}

#logo{width: 40px; height: 40px; margin-top: 20px;
    box-shadow: 0 0 20px rgb(42, 36, 33);
    -webkit-box-shadow: 0 0 20px rgb(12, 7, 4);
    }    

.link h3{font-size: 3rem;
    color: var(--cor-txt);
    font-family: var(--fonte);}

.link h4{background-color: rgb(236, 214, 214); 
    color: rgb(99, 11, 11); 
    border-radius: 10px; 
    margin: 5px 0px;}

.link fieldset{color: white;  text-align: center;}
#peso{margin: 5px;
    width: 100px;
    height: 50px; 
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    background-color: wheat ;}


.link Form{color: aliceblue; 
    margin: 3px;
    }

.link table{border: solid black 1px;
    border-collapse: collapse;
    border-style:  groove;
    margin: auto;
    font-size: 11px;
    color: wheat;
    } 

.link #tb2{border: solid black 1px;
    border-collapse: collapse;
    border-style:  groove;
    margin: auto;
    font-size: 9.5px;
    color: wheat;
    }

.link #tb5{border: solid black 1px;
    border-collapse: collapse;
    border-style:  groove;
    margin: auto;
    font-size: 9px;
    color: wheat;
    }    

.link th, td, tr{border: solid black 1px;
    border-collapse: collapse;
    border-style:  groove;
    margin: auto; 
}   
              
.link h5{margin: 15px; color: var(--cor-txt)}   

.link a{background-color: var(--cor-botões);
    color: var(--cor-background);
    text-align: center;
    font-size: 1.3rem;
    margin: 10px;
    border-radius: 40px;
    width: 80%;
    padding: 20px;}

.link footer{margin: 20px 0px;}






